.content .personnel thead tr th {
  text-align: center;
}

.content .personnel tbody td {
  text-align: center;
}

.content .personnel tbody td a {
  margin-right: 10px;
  padding: 2px 8px;
}

.content .personnel tbody td a i{
  font-size: 12px;
}